*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: sans-serif;
}
.container{
    margin:0px 100px;
}
#header{
    height:100vh;
    background:url(../img/background.png);
    background-repeat: no-repeat;
    background-seze:cover;
    background-position:center
}
.logo{
    margin-top:30px;
    width:100px
}
.heading-text{
    width:350px;
    margin-top:250px;
}
.heading-text h1{
    font-size: 35px;
}
.square{
    content: "";
    width:12px;
    height:12px;
    display: inline-block;
    background:#f67c92;
    margin:15px 0
}
.common-btn{
    padding:18px 40px;
    background:transparent;
    outline:none;
    border:2px solid #f67c92;
    cursor: pointer;
}
p{
    font-size: 15px;
    color:#777;
    line-height: 18px;
}
.heading-text .common-btn{
    margin:20px 0 60px 0px;
}
.line{
    line-height: 8px;
}
.line-square1{
    content: "";
    width:15px;
    height:15px;
    background:#f67c92;
    display: inline-block;
}
.line-square2{
    content: "";
    width:80px;
    height:2px;
    background:#f67c92;
    display: inline-block;

}
.line-square3{
    content: "";
    width:60px;
    height:2px;
    background:#f67c92;
    display: inline-block;
}

#sidebar{
    width:250px;
    height:100vh;
    position: fixed;
    right:-250px;
    top:0;
    background:#f67c92;
    z-index: 2;
    transition: all .5s;
}
#sidebar ul li{
    list-style: none;
    margin:50px 20px
}
#sidebar ul li a{
    text-decoration: none;
    color:#fff;
}
#menubtn{
    width:50px;
    position:fixed;
    top:35px;
    right:65px;
    cursor: pointer;
    z-index: 2;
}

/* about section */

#about, #offer{
    display: flex;
    align-items: center;
    padding:100px 0;
    flex-wrap: wrap;

}

.about-left img{
    width:100%
}
.about-left{
    flex-basis: 50%;
}
.about-right{
    flex-basis: 50%;
    text-align: right;
}
.about-right h1{
    font-size: 35px;
}
.about-text{
    display: inline-block;
    width:500px;
    margin:0 100px
}
.about-text .line{
    margin:50px 0px
}
.about-right h3{
    color:#777;
    font-style: italic;
    margin-top: 10px;
}
.about-right h2{

    font-style: italic;
}

#features{
    padding:50px 0;
}
.feature-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:80%;
    margin:auto;
    flex-wrap: wrap;
}
.feature-col{
    flex-basis:25%;
    text-align:center
}
.feature-col img{
    width:100px
}
.feature-btn{
    display: flex;
    justify-content: center;
    margin:50px 0;
    align-items: flex-end;
}
.feature-btn .line{
    text-align: right;
    margin-right: 20px;
    display: inline-block;
}
#courses{
    padding:100px 0;
}
.course-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.course-left{
    flex-basis: 50%;
}
.course-right{
    flex-basis: 50%;
}
.course-right img{
   width:100%
}
.course-text{
    max-width:300px;
    margin-left:100px
}
.course-text h2{
    font-size: 35px;
}
.course-text button{
    margin:40px 0;
}
#offer .common-btn{
    margin:30px 0
}

#contact{
    padding-top:50px;

}

.contact-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width:80%;
    margin: auto;
    padding-bottom: 60px;
    border-bottom: 1px solid #631e3e;
}
.contact-col{
    flex-basis: 50%;
}
.contact-col h1{
    font-size: 35px;
    margin-bottom:30px
}
.contact-col img{
    width:100%
}
form{

    max-width:400px
}
form input{
    width:100%;
    padding:15px;
    margin-bottom:10px;
    border:3px solid #e9a2af;
    outline:none
}
form .common-btn{
    width:195px;
    margin-bottom: 30px;
}
.extra{
    float:right
}
footer{
    padding:50px 0
}
.footer-row{
    display: flex;
    align-items: center;
    width: 80%;
    margin:auto;
}
.footer-col-left{
    flex-basis: 50%;

}
.footer-col-right{
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;

    align-items: center;
    
}
.footer-col-left{
    display: flex;
    justify-content: space-between;
}
.footer-row span{
    display: block;
    color:#777
}
.footer-row h4{
    color:#fab3c4;
    margin-bottom:30px
}
.info{
    text-align: center;
}
.footer-brand img{
    margin-bottom: 20px;
    width: 120px;
}
.footer-brand{
    margin-left: 200px;
}
.social-icons{
    width:50px;
    position:fixed;
    top:50%;
    left:0;
    transform: translateY(-50%);
}
.social-icons img{
    display: block;
    width:20px;
    margin:0 auto 20px;
    cursor: pointer;
}